In [107]:
import pandas as pd 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

In [81]:
data = pd.read_csv("C:/Users/Рафаэль/yandex.kurs/6past/1step/travel_insurance.csv")

In [54]:
data.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commission (in value),Gender,Age
0,JZI,Airlines,Online,Value Plan,0,12,"TAIWAN, PROVINCE OF CHINA",45.0,15.75,M,39
1,EPX,Travel Agency,Online,Cancellation Plan,0,50,JAPAN,22.0,0.00,NaN,36
2,EPX,Travel Agency,Online,Cancellation Plan,0,251,BRAZIL,80.0,0.00,NaN,36
3,EPX,Travel Agency,Online,Cancellation Plan,0,6,INDIA,-10.0,0.00,NaN,36
4,JZI,Airlines,Online,Value Plan,0,5,CHINA,45.0,15.75,M,34

In [98]:
data1 = data.fillna("unknown")

In [100]:
data1

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commission (in value),Gender,Age
0,JZI,Airlines,Online,Value Plan,0,12,"TAIWAN, PROVINCE OF CHINA",45.0,15.75,M,39
1,EPX,Travel Agency,Online,Cancellation Plan,0,50,JAPAN,22.0,0.00,unknown,36
2,EPX,Travel Agency,Online,Cancellation Plan,0,251,BRAZIL,80.0,0.00,unknown,36
3,EPX,Travel Agency,Online,Cancellation Plan,0,6,INDIA,-10.0,0.00,unknown,36
4,JZI,Airlines,Online,Value Plan,0,5,CHINA,45.0,15.75,M,34
...,...,...,...,...,...,...,...,...,...,...,...
50655,EPX,Travel Agency,Online,2 way Comprehensive Plan,0,55,MYANMAR,22.0,0.00,unknown,36
50656,EPX,Travel Agency,Online,Cancellation Plan,0,7,SRI LANKA,10.0,0.00,unknown,36
50657,EPX,Travel Agency,Online,2 way Comprehensive Plan,0,145,AUSTRALIA,103.0,0.00,unknown,36
50658,EPX,Travel Agency,Online,2 way Comprehensive Plan,0,84,THAILAND,20.0,0.00,unknown,24
50659,C2B,Airlines,Online,Silver Plan,0,103,SINGAPORE,62.0,15.50,M,25

In [10]:
data.shape

(50660, 11)

In [11]:
data.dtypes

Agency                    object
Agency Type               object
Distribution Channel      object
Product Name              object
Claim                      int64
Duration                   int64
Destination               object
Net Sales                float64
Commission (in value)    float64
Gender                    object
Age                        int64
dtype: object

In [12]:
data.describe()

,Claim,Duration,Net Sales,Commission (in value),Age
count,50660.000000,50660.000000,50660.000000,50660.000000,50660.000000
mean,0.014864,49.587150,40.749961,9.800755,39.957284
std,0.121009,103.629611,48.470030,19.716468,14.027618
min,0.000000,-2.000000,-389.000000,0.000000,0.000000
25%,0.000000,9.000000,18.000000,0.000000,35.000000
50%,0.000000,22.000000,27.000000,0.000000,36.000000
75%,0.000000,53.000000,49.000000,11.550000,43.000000
max,1.000000,4881.000000,682.000000,262.760000,118.000000

In [13]:
data.isna().sum()

Agency                       0
Agency Type                  0
Distribution Channel         0
Product Name                 0
Claim                        0
Duration                     0
Destination                  0
Net Sales                    0
Commission (in value)        0
Gender                   36091
Age                          0
dtype: int64

In [55]:
features1 = data.drop("Claim", axis = 1)
target1 = data["Claim"]

In [56]:
features_train1, features_valid1, target_train1, target_valid1 = train_test_split(features1,target1, test_size=0.25, random_state=12345)

In [112]:
features_train1.head()

,Agency,Agency Type,Distribution Channel,Product Name,Duration,Destination,Net Sales,Commission (in value),Gender,Age
33312,EPX,Travel Agency,Online,Cancellation Plan,77,CHINA,16.0,0.0,NaN,36
50154,EPX,Travel Agency,Online,Cancellation Plan,20,SINGAPORE,14.0,0.0,NaN,36
26729,EPX,Travel Agency,Online,Cancellation Plan,13,MALAYSIA,10.0,0.0,NaN,30
37842,EPX,Travel Agency,Online,2 way Comprehensive Plan,42,THAILAND,44.0,0.0,NaN,35
23588,EPX,Travel Agency,Online,2 way Comprehensive Plan,8,MALAYSIA,20.0,0.0,NaN,34

In [23]:
features_valid.shape

(12665, 10)

In [25]:
model = LogisticRegression()

In [26]:
model.fit(features_train, target_train)

ValueError: could not convert string to float: 'EPX'

Преобразовать категориальные признаки в численные поможет техника прямого кодирования, или отображения (англ. One-Hot Encoding, OHE).
Принцип работы One-Hot Encoding объясним на значениях признака Gender.

Резюмируем. Техникой OHE категориальные признаки переводятся в численные в два этапа:
Для каждого значения признака создаётся новый столбец;
Если объекту категория подходит, присваивается 1, если нет — 0.
Новые признаки (Gender_F, Gender_M, Gender_None) называются дамми-переменными, или дамми-признаками (англ. dummy variable, «фиктивная переменная»).
Для прямого кодирования в библиотеке pandas есть функция pd.get_dummies() (от англ. «получить фиктивные переменные»).

In [37]:
pd.get_dummies(data["Gender"], dummy_na=True, dtype=int,drop_first=True).head(5)

   M  NaN
0  1    0
1  0    1
2  0    1
3  0    1
4  1    0

# Дамми-ловушка
С прямым кодированием не всё так просто. Когда данных в избытке, можно угодить в ловушку фиктивных признаков. Расскажем, как в неё не попасть.

Чтобы подать документы на шенгенскую визу, нужно доказать, что деньги у вас есть. Вы решили перестраховаться, поэтому взяли и выписку с банковского счёта, и справку с работы, и 2-НДФЛ. Хотя визовому центру достаточно двух документов. Вашей модели лишняя информация тоже не очень-то нужна. Если оставить всё как есть, обучаться она будет сложнее.

В таблицу добавились три новых столбца. Поскольку они сильно связаны между собой, один удалим без сожаления. Восстановить столбец можно по оставшимся двум. Так мы не попадём в дамми-ловушку (англ. dummy trap, «ловушка фиктивных признаков»).
Столбец уберём вызовом функции pd.get_dummies() с аргументом drop_first (от англ. «сбросьте первый»). Он удаляет первую колонку и передаётся как drop_first=True или drop_first=False (True — первый столбец сбрасывается, False — не сбрасывается).

In [40]:
data_ohe = pd.get_dummies(data, drop_first=True, dtype=int)

In [41]:
data_ohe

,Claim,Duration,Net Sales,Commission (in value),Age,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,Destination_ZAMBIA,Destination_ZIMBABWE,Gender_M
0,0,12,45.0,15.75,39,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,50,22.0,0.00,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,251,80.0,0.00,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,6,-10.0,0.00,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,5,45.0,15.75,34,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50655,0,55,22.0,0.00,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50656,0,7,10.0,0.00,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50657,0,145,103.0,0.00,36,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50658,0,84,20.0,0.00,24,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50659,0,103,62.0,15.50,25,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [43]:
target = data_ohe["Claim"]
features = data_ohe.drop('Claim', axis=1)

In [44]:
features.head()

,Duration,Net Sales,Commission (in value),Age,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,Agency_CWT,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,Destination_ZAMBIA,Destination_ZIMBABWE,Gender_M
0,12,45.0,15.75,39,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,50,22.0,0.00,36,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,251,80.0,0.00,36,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,-10.0,0.00,36,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,45.0,15.75,34,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [45]:
features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size= 0.25, random_state=12345)

In [48]:
model = LogisticRegression(solver='liblinear', random_state=12345)
model.fit(features_train, target_train)

LogisticRegression(random_state=12345, solver='liblinear')

In [57]:
tree = DecisionTreeClassifier(random_state=12345)
tree.fit(features_train1, target_train1)

ValueError: could not convert string to float: 'EPX'

# Порядковое кодирование
Расскажем о другой технике кодирования признаков в решающем дереве и случайном лесе.
Вышу у нас ошибка. Нужна новая техника, чтобы закодировать цифрами выраженные в тексте категории - Ordinal Encoding

1.Фиксируется, какой цифрой кодируется класс;
2.Цифры размещаются в столбце. Техника подходит для преобразования признаков в решающем дереве и случайном лесе (он состоит из деревьев).

Чтобы выполнить кодирование, в sklearn есть структура данных OrdinalEncoder (англ. «порядковый кодировщик»). Она находится в модуле sklearn.preprocessing (от англ. «предобработка»).
Импортируем OrdinalEncoder из библиотеки:
Скопировать кодPYTHON
from sklearn.preprocessing import OrdinalEncoder 
Преобразование выполняется в три этапа:
1) Создаём объект этой структуры данных.
encoder = OrdinalEncoder() 
2) Чтобы получить список категориальных признаков, вызываем метод fit() — как и в обучении модели. Передаём ему данные как аргумент.
Скопировать кодPYTHON
encoder.fit(data) 
3) Преобразуем данные функцией transform() (англ. «преобразовать»). Изменённые данные будут храниться в переменной data_ordinal (англ. «порядковые данные»).
data_ordinal = encoder.transform(data) 

Чтобы код добавил названия столбцов, оформим данные в структуру DataFrame():
Скопировать кодPYTHON
data_ordinal = pd.DataFrame(encoder.transform(data),columns=data.columns) 

Если преобразование признаков требуется лишь один раз, как в нашей задаче, код можно упростить вызовом функции fit_transform() (от англ. «подогнать и преобразовать»). Она объединяет функции: fit() и transform().
Скопировать кодPYTHON
data_ordinal = pd.DataFrame(encoder.fit_transform(data), 
                                                      columns=data.columns)

In [99]:
encoder = OrdinalEncoder()

In [74]:
encoder.fit(data1)

OrdinalEncoder()

In [61]:
#data_ordinal = encoder.transform(data)

In [75]:
data_ordinal = pd.DataFrame(encoder.transform(data1), columns= data1.columns)

In [76]:
data_ordinal.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commission (in value),Gender,Age
0,9.0,0.0,1.0,24.0,0.0,14.0,121.0,602.0,486.0,1.0,37.0
1,7.0,1.0,1.0,10.0,0.0,52.0,61.0,470.0,0.0,NaN,34.0
2,7.0,1.0,1.0,10.0,0.0,253.0,16.0,735.0,0.0,NaN,34.0
3,7.0,1.0,1.0,10.0,0.0,8.0,54.0,121.0,0.0,NaN,34.0
4,9.0,0.0,1.0,24.0,0.0,7.0,24.0,602.0,486.0,1.0,32.0

data_ordinal = pd.DataFrame(encoder.fit_transform(data),columns=data.columns)  если нужно сделать только одно преобразование, с помощью функции fit_transform она объединяет fit() and transform()

In [101]:
data_ordinal = pd.DataFrame(encoder.fit_transform(data1),columns=data1.columns)

In [102]:
data_ordinal.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commission (in value),Gender,Age
0,9.0,0.0,1.0,24.0,0.0,14.0,121.0,602.0,486.0,1.0,37.0
1,7.0,1.0,1.0,10.0,0.0,52.0,61.0,470.0,0.0,2.0,34.0
2,7.0,1.0,1.0,10.0,0.0,253.0,16.0,735.0,0.0,2.0,34.0
3,7.0,1.0,1.0,10.0,0.0,8.0,54.0,121.0,0.0,2.0,34.0
4,9.0,0.0,1.0,24.0,0.0,7.0,24.0,602.0,486.0,1.0,32.0

In [103]:
target2 = data_ordinal['Claim']
features2 = data_ordinal.drop('Claim', axis=1)

In [104]:
features_train2, features_valid2, target_train2, target_valid2 = train_test_split(features2, target2, test_size=0.25, random_state=12345)

In [105]:
tree = DecisionTreeClassifier(random_state=12345)
tree.fit(features_train2,target_train2)

DecisionTreeClassifier(random_state=12345)

Вы познакомились с двумя техниками кодирования категориальных переменных. Резюмируем:
1.Если все признаки должны стать количественными, подходит техника OHE;
2.Когда все признаки категориальные, и их нужно преобразовать в числа — Ordinal Encoding.

Почему Ordinal Encoding не подходит для логистической регрессии? Она всё норовит посчитать по формуле. Если речь идёт о признаке Age, то это разумно, а вот с Gender есть трудности. Например, сложив значения «1» и «0» («женщина» и «мужчина») и разделив на «2», «средний пол» не получить.
С двумя кодировками мы работать дальше не будем. Это неудобно. Остановимся на технике One-Hot Encoding. Она подходит для решения нашей задачи: работает со всеми моделями.

# Масштабирование признаков
Допустим, возможен возраст от 0 до 100 лет, а страховая комиссия — от 100 долларов до 1000. Значения и их разбросы в столбце Commission больше, поэтому алгоритм автоматически решит, что этот признак важнее возраста. А это не так: все признаки значимы. Чтобы избежать этой ловушки, признаки масштабируют — приводят к одному масштабу.
Один из методов масштабирования — стандартизация данных.

В sklearn есть отдельная структура для стандартизации данных — StandardScaler (от англ. «преобразователь масштаба методом стандартизации»). Он находится в модуле sklearn.preprocessing.
Импортируем StandardScaler из библиотеки. Создадим объект этой структуры и настроим его на обучающих данных. Настройка — это вычисление среднего и дисперсии:

In [115]:
scaler = StandardScaler()
scaler.fit(features_train1[])
features_train_scaled = scaler.transform(features_train)
features_valid_scaled = scaler.transform(features_valid)

In [116]:
features_train_scaled

array([[ 0.24348522, -0.51306826, -0.50063136, ..., -0.00888617,
        -0.00725543, -0.4165552 ],
       [-0.26687905, -0.55440347, -0.50063136, ..., -0.00888617,
        -0.00725543, -0.4165552 ],
       [-0.32955536, -0.63707389, -0.50063136, ..., -0.00888617,
        -0.00725543, -0.4165552 ],
       ...,
       [ 0.01964124, -0.84374993, -0.50063136, ..., -0.00888617,
        -0.00725543, -0.4165552 ],
       [-0.22211025, -0.63914065, -0.19766628, ..., -0.00888617,
        -0.00725543, -0.4165552 ],
       [-0.19524898, -0.30639223, -0.03649294, ..., -0.00888617,
        -0.00725543,  2.40064219]])

In [117]:
numeric = ['Duration', 'Net Sales', 'Commission (in value)', 'Age']

In [119]:
scaler = StandardScaler()
scaler.fit(features_train1[numeric])
features_train1[numeric] = scaler.transform(features_train1[numeric])

In [121]:
scaler = StandardScaler()
scaler.fit(features_valid1[numeric])
features_valid1[numeric] = scaler.transform(features_valid1[numeric])

In [122]:
features_train1.head()

,Agency,Agency Type,Distribution Channel,Product Name,Duration,Destination,Net Sales,Commission (in value),Gender,Age
33312,EPX,Travel Agency,Online,Cancellation Plan,0.243485,CHINA,-0.513068,-0.500631,NaN,-0.283389
50154,EPX,Travel Agency,Online,Cancellation Plan,-0.266879,SINGAPORE,-0.554403,-0.500631,NaN,-0.283389
26729,EPX,Travel Agency,Online,Cancellation Plan,-0.329555,MALAYSIA,-0.637074,-0.500631,NaN,-0.709982
37842,EPX,Travel Agency,Online,2 way Comprehensive Plan,-0.069896,THAILAND,0.065625,-0.500631,NaN,-0.354488
23588,EPX,Travel Agency,Online,2 way Comprehensive Plan,-0.374324,MALAYSIA,-0.430398,-0.500631,NaN,-0.425587

In [123]:
features_valid1.head()

,Agency,Agency Type,Distribution Channel,Product Name,Duration,Destination,Net Sales,Commission (in value),Gender,Age
10315,EPX,Travel Agency,Online,2 way Comprehensive Plan,0.605840,"KOREA, REPUBLIC OF",0.276558,-0.486787,NaN,-0.278249
15573,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,-0.402313,AUSTRALIA,0.184197,0.995046,NaN,0.081096
36384,JZI,Airlines,Online,Basic Plan,-0.200683,AUSTRALIA,-0.298132,-0.032758,M,-0.278249
21664,EPX,Travel Agency,Online,Cancellation Plan,-0.536734,SINGAPORE,0.707575,-0.486787,NaN,-0.278249
21274,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,0.686492,AUSTRALIA,0.590585,1.587779,NaN,0.871654

# Код для данного степа

In [125]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

data = pd.read_csv('travel_insurance.csv')

data_ohe = pd.get_dummies(data, drop_first=True)
target = data_ohe['Claim']
features = data_ohe.drop('Claim', axis=1)
features_train, features_valid, target_train, target_valid = train_test_split(
    features, target, test_size=0.25, random_state=12345)

numeric = ['Duration', 'Net Sales', 'Commission (in value)', 'Age']

scaler = StandardScaler()
scaler.fit(features_train[numeric])
features_train[numeric] = scaler.transform(features_train[numeric])
features_valid[numeric] = scaler.transform(features_valid[numeric])

features_train.head()

,Duration,Net Sales,Commission (in value),Age,Agency_ART,Agency_C2B,Agency_CBH,Agency_CCR,Agency_CSR,Agency_CWT,...,Destination_UNITED KINGDOM,Destination_UNITED STATES,Destination_URUGUAY,Destination_UZBEKISTAN,Destination_VANUATU,Destination_VENEZUELA,Destination_VIET NAM,Destination_ZAMBIA,Destination_ZIMBABWE,Gender_M
33312,0.243485,-0.513068,-0.500631,-0.283389,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50154,-0.266879,-0.554403,-0.500631,-0.283389,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26729,-0.329555,-0.637074,-0.500631,-0.709982,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37842,-0.069896,0.065625,-0.500631,-0.354488,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23588,-0.374324,-0.430398,-0.500631,-0.425587,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Сначала мы обработали категориальные признаки методом One-Hot Encoding. OHE поможет любому алгоритму. Потом мы разделили данные на обучащую выборку и валидационную, потом масштабировали данные, чтобы модель было легче обучать